*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign-up{
    width: 100%;
    text-align: center;
    padding: 10%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10%;
}
p{
    color: red;
}